:root {
  --max-width: 1100px;
  --error-color: #dc3545;
  --padding: 20px;
}

[data-theme="dark"] {
  --primary-color: #0F0E0E;
  --secondary-color: #0F0E0E;
  --third-color: #222222;
  --four-color: #121212;
  --card-color: #1a1a1a;
  --altern-color: #202020;
  --altern-secondary-color: #2a2a2a;

  --window-color: #0d0d0d;
  --preview-color: #050505;
  --font-color-title: #e5e5e5;
  --font-color-text: #a3a3a3;
  --border-color: #303030;
}

[data-theme="light"] {
  --primary-color: #ffffff;
  --secondary-color: #12a687;
  --third-color: #ffffff;
  --four-color: #f6f7f9;

  --card-color: #ffffff;
  --window-color: #f1f3f5;
  --preview-color: #fafbfc;

  --altern-color: #f1f3f5;
  --altern-secondary-color: #e9ecef;

  --font-color-title: #1f2933;
  --font-color-text: #495057;

  --border-color: #dee2e6;
}

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  background: var(--primary-color);
}
